---
import { navItems, navBtns } from '../../lib/content/navbar';
---

<header class='py-5 px-0 flex-center w-full mb-[30px] sticky top-0 z-[1000] site-header'>
  <div class='flex items-center justify-between w-[90%] max-w-[1130px] py-4 px-16 border border-[#151515] rounded-[20px] bg-[#1111116e] backdrop-blur gap-5 header-container'>
    <div class='logo'>
      <a href='#' class='text-xl font-bold text-white no-underline'>twiz.lol</a>
    </div>
    <nav class='gap-[15px] flex nav-links max-md:hidden'>
      {
        navItems.map((item) => (
          <a href={item.url} class='no-underline text-white text-[0.9rem]'>
            {item.name}
          </a>
        ))
      }
    </nav>
    <div class='flex gap-[10px] -mr-5 header-buttons max-md:hidden'>
      {
        navBtns.map((btn) => (
          <a href={btn.url} class={`${btn.className}`}>
            {btn.name}
          </a>
        ))
      }
    </div>

    <div class='hamburger hidden max-md:flex cursor-pointer flex-col gap-[5px]' onclick='toggleMenu()'>
      <div class='w-6 h-[3px] bg-[#6074dd]'></div>
      <div class='w-6 h-[3px] bg-[#6074dd]'></div>
      <div class='w-6 h-[3px] bg-[#6074dd]'></div>
    </div>
  </div>
</header>
